body {
    background: linear-gradient(to right, #5625AF, #EBE0FF);
    color: #fff;
    font-family: 'Nunito', sans-serif;
    width: 100vh;
}

#total {
    font-size: 36px;
    color: #fff;
    font-weight: 500;
    border-bottom: 2px solid #fff;
    width: 94.3vw;
    padding: 12px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: #276cd48e;
}

#total #valor {
    background: none;
    border: none;
    color: #fff;
    width: 100px;
    height: 50px;
    font-weight: 300;
    font-size: 20px;
}

#total #valor::placeholder {
    font-size: 23px;
}

#total button {
    height: 34px;
    width: 34px;
    background: #ffffff5e;
    border: none;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    transition: 0.1s;
}

#total button:hover {
    outline: 5px solid #ffffff5e;
}

#total #edit-icon {
    font-size: 16px;
}

#gastos {
  margin: 275px 32px 0;
}

#gastos .form {
    width: 600px;
    height: 200px;
    background: #276cd434;
    text-align: center;
    border: 2px solid #ffffff5e;
    border-radius: 20px;
}

#gastos .form input {
    margin-top: 50px;
    height: 50px;
    width: 250px;
    border: none;
    border-radius: 10px;
    background: #ffffff5e;
    font-size: 25px;
}

#gastos .form input:hover {
    border: 2px solid #cacaca;
    background: #0000006c;
}

#gastos .form input::placeholder {
    font-family: 'Roboto', sans-serif;
}

.form button {
    background-color: #ffffff5e;
    border: none;
    border-radius: 50%;
    height: 34px;
    width: 34px;
    margin: 30px;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
}

.form button:hover {
    outline: 5px solid #ffffff5e;
}

.form button #plus-icon{
    font-size: 28px;
    display: flex;
    justify-content: center;
}

#dashview p {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
}

#dashview button {
    background-color: #276cd49f;
    border: 2px solid #ffffff5e;
    border-radius: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 60px;
    width: 350px;
    position: absolute;
    right: 50px;
    top: 575px;
    cursor: pointer;
    transition: 0.3s;
}

#dashview button:hover {
   background: #194c9e;
   border: 2px solid #00000027;
}

#dashview button #angle-right{
   font-size: 24px;
   color: #fff;
   margin-left: 5px;
}

#dashboard::backdrop {
    background-color: rgb(0 0 0/ .5) 
}

#dashboard {
    border: none;
    border-radius: 15px;
    height: 350px;
    width: 350px;
    background-color: #ffffffcc;
}

#dashboard h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#close {
    margin: 50px 145px 0;
    background: none;
    border-radius: 10px;
    height: 40px;
    width: 60px
}